.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
}

.auth-card {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.auth-card h2 {
  font-weight: bold;
}

.auth-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form-group label {
  margin-right: 10px;
  width: 80px;
}

.form-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  margin-top: 5px;
  width: calc(100% - 90px);
  color: black;
}

.submit-button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-button:disabled {
  background-color: #ccc;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.auth-logo {
  display: block;
  margin: 0 auto 20px;
  width: 200px;
  height: auto;
}

.toggle-link {
  text-align: center;
  margin-top: 10px;
} 
